In [1]:
%load_ext autoreload
%autoreload 2
%load_ext lab_black
import pandas as pd

In [2]:
cd ..

ERROR:root:Cannot parse: 1:4: cd ..
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/lab_black.py", line 210, in format_cell
    formatted_code = _format_code(cell)
  File "/usr/local/lib/python3.7/site-packages/lab_black.py", line 29, in _format_code
    return format_str(src_contents=code, mode=FileMode())
  File "/usr/local/lib/python3.7/site-packages/black.py", line 725, in format_str
    src_node = lib2to3_parse(src_contents.lstrip(), mode.target_versions)
  File "/usr/local/lib/python3.7/site-packages/black.py", line 836, in lib2to3_parse
    raise exc from None
black.InvalidInput: Cannot parse: 1:4: cd ..

/Users/alextrahey/Code/college-nationals

In [3]:
import ultimate
from ultimate import Team, Game, Tournament, utils, tournament

In [4]:
#
# Tests for Team class
#
ucla = Team(name="UCLA", rating=2200, nickname="Smaug")
ucsb = Team(name="UCSB", rating=2100, nickname="Black Tide")
ucsd = Team(name="UCSD", rating=2000, nickname="Air Squids")
cal = Team(name="Cal", rating=1900, nickname="UGMO")
print(ucla.name, ucla.nickname, ucla.rating, ucla.games_list)
print(ucsb.name, ucsb.nickname, ucsb.rating, ucsb.games_list)
print(ucsd.name, ucsd.nickname, ucsd.rating, ucsd.games_list)
print(cal.name, cal.nickname, cal.rating, cal.games_list)

UCLA Smaug 2200 []
UCSB Black Tide 2100 []
UCSD Air Squids 2000 []
Cal UGMO 1900 []

In [5]:
# Game 0
print("\nGame 0 (method='random')")
ucla_vs_ucsb = Game(ucla, ucsb)
ucla_vs_ucsb.play_game(method="random")
print("Score *should* be only 15-13 or 13-15.")

(
    mens_p_a_offense,
    mens_k,
    mens_rating_diff_to_victory_margin,
    game_to,
) = utils.get_default_parameters("men")

# Game 1
print("\nGame 1")
ucla_vs_ucsb = Game(ucla, ucsb)
ucla_vs_ucsb.play_game(
    method="double negative binomial",
    rating_diff_to_victory_margin=mens_rating_diff_to_victory_margin,
    p_a_offense=mens_p_a_offense,
)

Game 0 (method='random')
Score *should* be only 15-13 or 13-15.

Game 1

In [6]:
# Tournament 0
print("\nTournament 0")
semi1 = Game(ucla, ucsb, level="semi")
semi2 = Game(cal, ucsd, level="semi")
finals = Game(None, None, semi1, semi2, level="final")

finals.play_game(
    method="double negative binomial",
    rating_diff_to_victory_margin=mens_rating_diff_to_victory_margin,
    p_a_offense=mens_p_a_offense,
)

Tournament 0

In [7]:
finals.display_point_log()

UCSB 0-1 Cal
UCSB 0-2 Cal
UCSB 1-2 Cal
UCSB 2-2 Cal
UCSB 2-3 Cal
UCSB 3-3 Cal
UCSB 4-3 Cal
UCSB 4-4 Cal
UCSB 5-4 Cal
UCSB 5-5 Cal
UCSB 6-5 Cal
UCSB 6-6 Cal
UCSB 7-6 Cal
UCSB 8-6 Cal
UCSB 8-7 Cal
UCSB 9-7 Cal
UCSB 9-8 Cal
UCSB 10-8 Cal
UCSB 10-9 Cal
UCSB 11-9 Cal
UCSB 12-9 Cal
UCSB 13-9 Cal
UCSB 14-9 Cal
UCSB 15-9 Cal

In [14]:
# Tests for playing 8 team bracket
print("\nEight team bracket")
ucla = Team(name="UCLA", rating=2200, nickname="Smaug", games_list=[])
ucsb = Team(name="UCSB", rating=2100, nickname="Black Tide")
ucsd = Team(name="UCSD", rating=2000, nickname="Air Squids")
cal = Team(name="Cal", rating=1900, nickname="UGMO")
uw = Team(name="UW", rating=1800, nickname="Sundodgers")
ore = Team(name="Oregon", rating=1700, nickname="Ego")
whit = Team(name="Whitman", rating=1600, nickname="Sweets")
slo = Team(name="CalPolySLO", rating=1500, nickname="Slocore")

teams_list = [ucla, ucsb, ucsd, cal, uw, ore, whit, slo]

# placement = ultimate.tournament.play_eight_team_single_elimination_bracket(
#     teams_list,
#     method="double negative binomial",
#     rating_diff_to_victory_margin=mens_rating_diff_to_victory_margin,
#     p_a_offense=mens_p_a_offense,
# )

# print(placement[0][1].name)

Eight team bracket

In [15]:
class ComboTournament(Tournament):
    def __init__(self, teams_list, name=None):
        pool_a = tournament.RoundRobinTournament(teams_list[:4])
        pool_b = tournament.RoundRobinTournament(teams_list[4:])
        pool_a.play_games()
        pool_b.play_games()
        self.bracket = tournament.BracketEightTwoOne(
            pool_a=pool_a.determine_placement(), pool_b=pool_b.determine_placement()
        )
        super().__init__(
            games_list=[
                *pool_a.games_list,
                *pool_b.games_list,
                *self.bracket.games_list,
            ],
            teams_list=teams_list,
            name=name,
        )

    def determine_placement(self):
        return self.bracket.determine_placement()


t = ComboTournament(teams_list)
t.play_games()
t.determine_placement()

[UCLA (4 - 1),
 UCSB (6 - 1),
 UW (4 - 2),
 Cal (2 - 4),
 UCSD (3 - 3),
 Oregon (2 - 4),
 Whitman (1 - 4),
 CalPolySLO (1 - 4)]

[UW (4 - 2), Oregon (2 - 4), Whitman (1 - 4), CalPolySLO (1 - 4)]

In [10]:
four_teams = [ucla, ucsb, ucsd, cal]
b = tournament.BracketFourTwoOne(teams_list=four_teams)
b.games_list[0]
b.play_games()
# b.show_results()
b.determine_placement()

[UCLA (2 - 0), UCSB (2 - 1), Cal (1 - 2), UCSD (0 - 2)]

In [10]:
five_teams = [ucla, ucsb, ucsd, cal, ore]
b = tournament.BracketFiveOne(teams_list=five_teams, name="Southwest Regionals")
b.games_list
b.play_games()
b.show_results()

UCSB 12-15 UCSD (Expected 15 - 13.4)
UCLA 15-5 UCSD (Expected 15 - 11.8)
Cal 9-15 Oregon (Expected 15 - 11.8)
UCSB 15-8 Oregon (Expected 15 - 8.9)
Southwest Regionals - Final Results
1. UCLA
2. UCSD
3. UCSB
4. Oregon
5. Cal

In [11]:
b = tournament.BracketEightTwoOne(teams_list[:4], teams_list[4:])
b.play_games()
b.show_results()

UCLA 15-3 Oregon (Expected 15 - 7.7)
UCSB 15-12 UW (Expected 15 - 10.3)
UCLA 15-11 UCSB (Expected 15 - 13.4)
UCSD 15-12 CalPolySLO (Expected 15 - 7.7)
Cal 15-12 Whitman (Expected 15 - 10.3)
Oregon 12-15 UCSD (Expected 10.3 - 15)
Cal 15-12 UW (Expected 15 - 13.4)
UCSD 12-15 Cal (Expected 15 - 13.4)
UCSB 15-9 Cal (Expected 15 - 11.8)
CalPolySLO 14-15 Whitman (Expected 13.4 - 15)
Oregon 12-15 UW (Expected 13.4 - 15)
BracketEightTwoOne - Final Results
1. UCLA
2. UCSB
3. Cal
4. UCSD
5. UW
6. Oregon
7. Whitman
8. CalPolySLO

In [12]:
womens_ranking_html = r"Rankings/USAU_team_rankings.women.2020-03-11.html"
mens_ranking_html = r"Rankings/USAU_team_rankings.men.2020-03-11.html"

# Use pandas html reader to extract dataframe
result = pd.read_html(womens_ranking_html)
df_women = result[0].rename(columns=lambda x: x.replace(" ", "_").lower()).iloc[0:-1]

result = pd.read_html(mens_ranking_html)
df_men = result[0].rename(columns=lambda x: x.replace(" ", "_").lower()).iloc[0:-1]

custom_ranks_men = pd.read_excel(
    "./Rankings/USAU ratings and human tuning.xlsx", sheet_name="Men"
).dropna(subset=["USAU Rank"])
custom_ranks_women = pd.read_excel(
    "./Rankings/USAU ratings and human tuning.xlsx", sheet_name="Women"
).dropna(subset=["USAU Rank"])

In [32]:
def get_d1_teams(teams, custom_ranks):
    return (
        teams[teams.competition_division == "Division I"]
        .merge(
            custom_ranks[["Team", "Adjusted Rating"]],
            left_on="team",
            right_on="Team",
            how="inner",
        )
        .assign(
            custom_rating=lambda x: x["Adjusted Rating"].combine_first(x.power_rating)
        )
    )

In [30]:
def regional_tournament(region, d1_teams, n_teams=8, n_bids=1):
    teams = (
        d1_teams[d1_teams.college_region == region]
        .head(n_teams)
        .apply(
            lambda r: Team(
                name=r.team, rating=int(r.power_rating), region=r.college_region
            ),
            axis=1,
        )
    )
    pool_a = tournament.RoundRobinTournament(
        teams_list=teams.iloc[[0, 2, 4, 6]].tolist(), name=f"{region} - Pool A",
    )
    pool_b = tournament.RoundRobinTournament(
        teams_list=teams.iloc[[1, 3, 5, 7]].tolist(), name=f"{region} - Pool B",
    )
    print(pool_a.teams_list)
    pool_a.play_games()
    print(pool_b.teams_list)
    pool_b.play_games()
    bracket = tournament.BracketEightOne(
        pool_a.determine_placement(),
        pool_b.determine_placement(),
        name=f"{region} - Regionals Bracket",
    )
    bracket.play_games()
    bracket.show_results()
    return bracket.determine_placement()


# regional_tournament("Atlantic Coast", d1_men)

In [110]:
# b.play_games()
# region = 'Atlantic Coast'
# teams = d1[d1.college_region == region].head(n_teams).apply(lambda r: Team(name=r.team, rating=int(r.power_rating), region=r.college_region), axis=1).tolist()

In [88]:
# bids
def calculate_size_and_bids(tables, d1_teams):
    total_bids = 20
    # store boolean for whether autobid has been reached while iterating through rankings
    _bids = {region: [1, False] for region in d1_teams.college_region.unique()}
    for i, team in d1_teams.iterrows():
        if sum(v[0] for k, v in _bids.items()) < total_bids:
            if _bids[team.college_region][1]:
                _bids[team.college_region][0] += 1
            else:
                _bids[team.college_region][1] = True

    # now just a dict of region name: number of bids
    bids = {k: v[0] for k, v in _bids.items()}

    conference_lookup = (
        d1_teams.drop_duplicates(subset=["college_conference", "college_region"])
        .set_index("college_conference")
        .college_region.to_dict()
    )

    combined = (
        pd.concat(
            [
                table
                for table in tables
                if table.columns.isin(
                    ["Conference", "Division", "Auto bids", "Strength bids", "Total"]
                ).min()
                and (table.Division == "D-I").max()
            ]
        )
        .reset_index(drop=True)
        .assign(region=lambda x: x["Conference"].map(conference_lookup))
    )
    region_details = (
        combined.groupby("region")
        .Total.sum()
        .rename("size")
        .to_frame()
        .assign(bids=lambda x: x.index.map(bids))
    )
    return region_details


mens_adjustments = {"Atlantic Coast": 1, "New England": -1}

d1_men = get_d1_teams(df_men, custom_ranks_men)
d1_women = get_d1_teams(df_women, custom_ranks_women)

mens_region_details = calculate_size_and_bids(
    pd.read_html("./Rankings/2019CollegeMensDivisionBidAllocation.htm", header=0),
    d1_men,
)
mens_region_details.loc["North Central", "size"] = 12
mens_region_details.loc["Northwest", "size"] = 12
for region, val in mens_adjustments.items():
    mens_region_details.loc[region, "bids"] += val

womens_region_details = calculate_size_and_bids(
    pd.read_html("./Rankings/2019CollegeWomensDivisionBidAllocation.htm", header=0),
    d1_women,
)
pd.concat(
    [
        womens_region_details.rename(columns=lambda x: f"womens_{x}"),
        mens_region_details.rename(columns=lambda x: f"mens_{x}"),
    ],
    axis=1,
)

                womens_size  womens_bids  mens_size  mens_bids
region
Atlantic Coast           16            2         15          2
Great Lakes               8            1         12          1
Metro East                8            1         12          1
New England              10            3         10          2
North Central             8            1         12          2
Northwest                 8            3         12          4
Ohio Valley               8            2         15          2
South Central            12            1         16          2
Southeast                12            2         16          1
Southwest                12            4         16          3

In [41]:
# %load run_regionals.py
import pandas as pd
import numpy as np

import ultimate
from ultimate import Team, Game, utils, tournament

mens_adjustments = {"Atlantic Coast": 0, "New England": 0}
mens_bid_path = "./Rankings/2019CollegeMensDivisionBidAllocation.htm"
womens_bid_path = "./Rankings/2019CollegeWomensDivisionBidAllocation.htm"
womens_ranking_html = r"Rankings/USAU_team_rankings.women.2020-03-11.html"
mens_ranking_html = r"Rankings/USAU_team_rankings.men.2020-03-11.html"
custom_ranks_path = "./Rankings/2020_04_24_USAU Human Ratings.xlsx"

four_pools_of_three_seeds = {
    "pool_a": [1, 8, 9],
    "pool_b": [2, 7, 10],
    "pool_c": [3, 6, 11],
    "pool_d": [4, 5, 12],
}

# Table 16.1.2
four_pools_of_four_seeds = {
    "pool_a": [1, 8, 12, 16],
    "pool_b": [2, 7, 11, 15],
    "pool_c": [3, 6, 10, 14],
    "pool_d": [4, 5, 9, 13],
}

two_pools_of_four_seeds = {"pool_a": [1, 4, 6, 7], "pool_b": [2, 3, 5, 8]}

two_pools_of_five_seeds = {"pool_a": [1, 3, 6, 8, 9], "pool_b": [2, 4, 5, 7, 10]}
two_pools_of_six_seeds = {"pool_a": [1, 4, 5, 7, 10, 12], "pool_b": [2, 3, 6, 8, 9, 11]}

pool_seeding = {
    8: two_pools_of_four_seeds,
    10: two_pools_of_five_seeds,
    12: four_pools_of_three_seeds,
    16: four_pools_of_four_seeds,
}


def get_d1_teams(
    teams: pd.DataFrame, custom_ranks: pd.DataFrame, custom_teams: dict
) -> pd.DataFrame:
    """
    Takes dataframe of D1 and D3 teams along with custom ratings
    for this season and returns a DataFrame of single rating
    with only D1 teams

    Parameters
    ----------
    teams : DataFrame 
        Table representing all D1 and D3 teams who have played a game this year

    custom_ranks : DataFrame
        Table representing a list of team names with custom rankings if desired

    Returns
    -------
    DataFrame
        Table of teams eligible to compete for nationals with updated rankings.
    """
    return (
        teams[teams.competition_division == "Division I"]
        .merge(
            custom_ranks[["Team", "Adjusted Rating"]],
            left_on="team",
            right_on="Team",
            how="right",
        )
        .assign(
            custom_rating=lambda x: x["Adjusted Rating"]
            .combine_first(x.power_rating)
            .astype(int)
        )
        .assign(
            college_region=lambda x: x.college_region.combine_first(
                x.team.map(custom_teams)
            )
        )
    )


# bids
def calculate_size_and_bids(tables, d1_teams, rankings_col="custom_rating"):
    """
    Iterates through eligible teams by specified ranking type and returns
    a table of size and number of bids for the region.

    Parameters
    ----------
    tables : List[DataFrame]
        Set of tables read from USAU regional size allocation website
    d1_teams : DataFrame
        Return value from get_d1_teams()
    rankings_col : str, optional
        Which column to use from d1_teams to order bids, 
        by default 'custom_rating'

    Returns
    -------
    DataFrame
        One row per region with number of bids and number of teams competing
    """
    total_bids = 20
    # store boolean for whether autobid has been reached while iterating through rankings
    _bids = {region: [1, False] for region in d1_teams.college_region.unique()}
    for i, team in d1_teams.sort_values(rankings_col, ascending=False).iterrows():
        if sum(v[0] for k, v in _bids.items()) < total_bids:
            if _bids[team.college_region][1]:
                _bids[team.college_region][0] += 1
            else:
                _bids[team.college_region][1] = True

    # now just a dict of region name: number of bids
    bids = {k: v[0] for k, v in _bids.items()}

    conference_lookup = (
        d1_teams.drop_duplicates(subset=["college_conference", "college_region"])
        .set_index("college_conference")
        .college_region.to_dict()
    )

    combined = (
        pd.concat(
            [
                table
                for table in tables
                if table.columns.isin(
                    ["Conference", "Division", "Auto bids", "Strength bids", "Total"]
                ).min()
                and (table.Division == "D-I").max()
            ]
        )
        .reset_index(drop=True)
        .assign(region=lambda x: x["Conference"].map(conference_lookup))
    )
    region_details = (
        combined.groupby("region")
        .Total.sum()
        .rename("size")
        .to_frame()
        .assign(bids=lambda x: x.index.map(bids))
    )
    return region_details


def play_pools(teams, pool_seeds):
    results = {}
    for name, seeds in pool_seeds.items():
        pool = tournament.RoundRobinTournament(
            teams_list=teams.iloc[[i - 1 for i in seeds]].tolist(), name=f"Pool {name}"
        )
        pool.play_games()
        results[name] = pool
    return results


def determine_regional_qualifiers(
    division_teams, region, n_teams, rankings_var="power_rating"
):
    return (
        division_teams[division_teams.college_region == region]
        .head(n_teams)
        .apply(
            lambda r: Team(
                name=r.team, rating=int(r[rankings_var]), region=r.college_region
            ),
            axis=1,
        )
    )


def play_bracket(n_bids, **pools):
    n_teams = sum([len(pool) for name, pool in pools.items()])
    if n_teams in (8, 10):
        if n_bids == 1:
            t = tournament.BracketEightOne(**pools)
        elif n_bids in (2, 3):
            t = tournament.BracketEightTwoOne(**pools)
    elif n_teams == 12:
        if n_bids in [1, 2, 3]:
            t = tournament.BracketTwelveFourPools(**pools)
        if n_bids == 4:
            t = tournament.BracketEightFour(**pools)
    elif n_teams == 16:
        if n_bids == 1:
            t = tournament.BracketSixteenOne(**pools)
        if n_bids in (2, 3):
            t = tournament.BracketSixteenTwoTwo(**pools)
        if n_bids == 4:
            t = tournament.BracketSixteenFourTwo(**pools)
    else:
        return
    try:
        t.play_games()
    except:
        print(n_teams, n_bids)
        raise
    return t


def play_all_regions(d1_teams, region_details, writer, game_log_writer, division):
    summary = {}
    overall_pools = {}
    overall_placements = pd.DataFrame()
    for region, (n_teams, n_bids) in region_details.iterrows():
        if n_teams == 15:
            n_teams = 16
        teams = determine_regional_qualifiers(
            d1_teams, region, n_teams, rankings_var="custom_rating"
        )
        # This is hacky, we don't like the resulting br
        if n_teams == 12 and n_bids == 4:
            seeding = two_pools_of_six_seeds
        else:
            seeding = pool_seeding[n_teams]
        pool_results = play_pools(teams, seeding)
        pool_finishes = {
            name: pool.determine_placement() for name, pool in pool_results.items()
        }
        overall_pools[region] = pd.DataFrame(pool_finishes).astype(str)

        bracket = play_bracket(n_bids, **pool_finishes)
        region_summary = {
            "Tournament": f"{division}'s {region} - {n_teams} Teams with {n_bids} Bids",
            "Format": f"{len(pool_results.keys())} pools of {len(pool_finishes['pool_a'])} -> {bracket.__class__.__name__}",
            "Qualifiers": ", ".join(
                [str(team) for team in bracket.determine_placement()[:n_bids]]
            ),
        }
        summary[region] = region_summary
        print()
        for k, v in region_summary.items():
            print(k.upper(), "-", v)
        overall_placements[f"{region} ({n_bids} bids)"] = pd.Series(
            bracket.determine_placement()
        )

        pool_games = []
        for name, pool in pool_results.items():
            for i, game in enumerate(pool.games_list):
                pool_games.append(game.results_dict)

        pd.DataFrame(pool_games).to_excel(
            writer, sheet_name=f"3. {division} {region} Pools"
        )
        pd.DataFrame([game.results_dict for game in bracket.games_list]).to_excel(
            writer, sheet_name=f"2. {division} {region} Bracket"
        )
        for i, game in enumerate(bracket.games_list):
            game_log = pd.Series(game.score.point_log).apply(
                lambda x: pd.Series({game.team_a.name: x[0], game.team_b.name: x[1]})
            )
            sheet_name = f"{division}{region[:8]}{game.level}{i}"
            if len(sheet_name) > 30 or game.level is None:
                continue
            game_log.to_excel(game_log_writer, sheet_name=sheet_name)

    pd.DataFrame(summary).T.to_excel(
        writer, sheet_name=f"1. {division} Overall Summary"
    )
    pd.concat(
        [
            pd.DataFrame(index=[region], columns=v.columns, data="--").append(
                v.rename(lambda x: region)
            )
            for region, v in overall_pools.items()
        ]
    ).to_excel(writer, sheet_name=f"1. {division} Overall Pools")
    overall_placements.to_excel(writer, sheet_name=f"1. {division} Overall Placement")
    game_log_writer.save()


# def run_all_regionals():
# Added Ottawa (ME), Delaware (AC) to rankings sheet and adjusted others accordingly.
# Chicago (GL)
# Grand Valley State (GL), Loyola-Chicago (GL), Marquette (NC)
custom_teams = {
    "Women": {
        "Ottawa": "Metro East",
        "Delaware": "Atlantic Coast",
        "Chicago": "Great Lakes",
    },
    "Men": {
        "Rutgers": "Metro East",
        "Grand Valley State": "Great Lakes",
        "Loyola-Chicago": "Great Lakes",
        "Marquette": "North Central",
    },
}
# Use pandas html reader to extract dataframe
result = pd.read_html(womens_ranking_html)
df_women = result[0].rename(columns=lambda x: x.replace(" ", "_").lower()).iloc[0:-1]

result = pd.read_html(mens_ranking_html)
df_men = result[0].rename(columns=lambda x: x.replace(" ", "_").lower()).iloc[0:-1]

custom_ranks_men = pd.read_excel(
    custom_ranks_path, sheet_name="Copy of Keith Men"
).dropna(subset=["USAU Rank"])
custom_ranks_women = pd.read_excel(
    custom_ranks_path, sheet_name="Copy of Keith Women"
).dropna(subset=["USAU Rank"])
# d1_men = get_d1_teams(df_men, custom_ranks_men, custom_teams["Men"])
#     d1_women = get_d1_teams(df_women, custom_ranks_women, custom_teams["Women"])

#     mens_region_details = calculate_size_and_bids(
#         pd.read_html(mens_bid_path, header=0), d1_men,
#     )
#     mens_region_details.loc["North Central", "size"] = 12
#     mens_region_details.loc["Northwest", "size"] = 12
#     mens_region_details.loc["New England", "size"] = 12

#     for region, val in mens_adjustments.items():
#         mens_region_details.loc[region, "bids"] += val

#     womens_region_details = calculate_size_and_bids(
#         pd.read_html(womens_bid_path, header=0), d1_women,
#     )
#     womens_region_details.loc["New England", "size"] = 12
#     # print(womens_region_details)
#     writer = pd.ExcelWriter("regionals_results.xlsx")

#     pd.concat(
#         [
#             womens_region_details.rename(columns=lambda x: f"womens_{x}"),
#             mens_region_details.rename(columns=lambda x: f"mens_{x}"),
#         ],
#         axis=1,
#     ).to_excel(writer, "0. Bid Allocation")

#     mens_game_log_writer = pd.ExcelWriter("mens_regionals_game_logs.xlsx")
#     womens_game_log_writer = pd.ExcelWriter("womens_regionals_game_logs.xlsx")
#     play_all_regions(
#         d1_men, mens_region_details, writer, mens_game_log_writer, division="M"
#     )
#     play_all_regions(
#         d1_women, womens_region_details, writer, womens_game_log_writer, division="W"
#     )
#     writer.book.worksheets_objs.sort(key=lambda x: x.name)
#     writer.save()

In [58]:
teams, custom_ranks = (df_men, custom_ranks_men)
df = (
    teams.merge(
        custom_ranks[["Team", "Adjusted Rating", "USAU Power Rating"]],
        left_on="team",
        right_on="Team",
        how="right",
    )
    .pipe(
        lambda df: df[
            (df.competition_division == "Division I")
            | (df.competition_division.isnull())
        ]
    )
    .assign(
        custom_rating=lambda x: x["Adjusted Rating"]
        .combine_first(x.power_rating)
        .combine_first(x["USAU Power Rating"])
        .astype(int)
    )
    .dropna(subset=["Team"])
)
# df[df.custom_rating.isnull()].Team.iloc[0]

In [59]:
df[df.Team == "Marquette"]

,rank,team,power_rating,competition_level,gender_division,competition_division,college_region,college_conference,wins,losses,Team,Adjusted Rating,USAU Power Rating,custom_rating
370,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Marquette,NaN,949,949

In [47]:
df[df.Team == "Puget Sound"]

Empty DataFrame
Columns: [rank, team, power_rating, competition_level, gender_division, competition_division, college_region, college_conference, wins, losses, Team, Adjusted Rating, USAU Power Rating, custom_rating]
Index: []

,rank,team,power_rating,competition_level,gender_division,competition_division,college_region,college_conference,wins,losses
56,57,Virginia,1462,College,Men,Division I,Atlantic Coast,Virginia DI,6,5