In [1]:
%load_ext autoreload
%autoreload 2

import pandas as pd

In [2]:
cd ..

/Users/alextrahey/Code/college-nationals

In [37]:
import ultimate
from ultimate import Team, Game, Tournament, utils

In [7]:

#
# Tests for Team class
#
ucla = Team(name="UCLA", rating=2200, nickname="Smaug")
ucsb = Team(name="UCSB", rating=2100, nickname="Black Tide")
ucsd = Team(name="UCSD", rating=2000, nickname="Air Squids")
cal = Team(name="Cal", rating=1900, nickname="UGMO")
print(ucla.name, ucla.nickname, ucla.rating, ucla.games_list)
print(ucsb.name, ucsb.nickname, ucsb.rating, ucsb.games_list)
print(ucsd.name, ucsd.nickname, ucsd.rating, ucsd.games_list)
print(cal.name, cal.nickname, cal.rating, cal.games_list)

UCLA Smaug 2200 []
UCSB Black Tide 2100 []
UCSD Air Squids 2000 []
Cal UGMO 1900 []

In [8]:

# Game 0
print("\nGame 0 (method='random')")
ucla_vs_ucsb = Game(ucla, ucsb)
ucla_vs_ucsb.play_game(method="random")
print("Score *should* be only 15-13 or 13-15.")

mens_p_a_offense, mens_k, mens_rating_diff_to_victory_margin, game_to = utils.get_default_parameters(
    "men"
)

# Game 1
print("\nGame 1")
ucla_vs_ucsb = Game(ucla, ucsb)
ucla_vs_ucsb.play_game(
    method="double negative binomial",
    rating_diff_to_victory_margin=mens_rating_diff_to_victory_margin,
    p_a_offense=mens_p_a_offense,
)

Game 0 (method='random')
UCLA 13-15 UCSB
Score *should* be only 15-13 or 13-15.

Game 1
UCLA 15-10 UCSB

In [9]:

# Tournament 0
print("\nTournament 0")
semi1 = Game(ucla, ucsb, level="semi")
semi2 = Game(cal, ucsd, level="semi")
finals = Game(None, None, semi1, semi2, level="final")

finals.play_game(
    method="double negative binomial",
    rating_diff_to_victory_margin=mens_rating_diff_to_victory_margin,
    p_a_offense=mens_p_a_offense,
)

Tournament 0
semi: UCLA 15-9 UCSB
semi: Cal 15-10 UCSD
final: UCLA 15-11 Cal

In [10]:
finals.display_point_log()

UCLA 1-0 Cal
UCLA 1-1 Cal
UCLA 2-1 Cal
UCLA 2-2 Cal
UCLA 3-2 Cal
UCLA 3-3 Cal
UCLA 4-3 Cal
UCLA 4-4 Cal
UCLA 5-4 Cal
UCLA 5-5 Cal
UCLA 6-5 Cal
UCLA 6-6 Cal
UCLA 7-6 Cal
UCLA 8-6 Cal
UCLA 8-7 Cal
UCLA 8-8 Cal
UCLA 9-8 Cal
UCLA 9-9 Cal
UCLA 10-9 Cal
UCLA 10-10 Cal
UCLA 11-10 Cal
UCLA 12-10 Cal
UCLA 13-10 Cal
UCLA 13-11 Cal
UCLA 14-11 Cal
UCLA 15-11 Cal

In [11]:

# Tests for playing 8 team bracket
print("\nEight team bracket")
ucla = Team(name="UCLA", rating=2200, nickname="Smaug", games_list=[])
ucsb = Team(name="UCSB", rating=2100, nickname="Black Tide")
ucsd = Team(name="UCSD", rating=2000, nickname="Air Squids")
cal = Team(name="Cal", rating=1900, nickname="UGMO")
uw = Team(name="UW", rating=1800, nickname="Sundodgers")
ore = Team(name="Oregon", rating=1700, nickname="Ego")
whit = Team(name="Whitman", rating=1600, nickname="Sweets")
slo = Team(name="CalPolySLO", rating=1500, nickname="Slocore")

teams_list = [ucla, ucsb, ucsd, cal, uw, ore, whit, slo]

placement = ultimate.tournament.play_eight_team_single_elimination_bracket(
    teams_list,
    method="double negative binomial",
    rating_diff_to_victory_margin=mens_rating_diff_to_victory_margin,
    p_a_offense=mens_p_a_offense,
)

print(placement[0][1].name)

Eight team bracket
quarter: UCLA 15-6 CalPolySLO
quarter: UCSB 15-13 Whitman
quarter: UCSD 13-15 Oregon
quarter: Cal 14-15 UW
semi: UCLA 15-8 UW
semi: UCSB 15-11 Oregon
final: UCLA 15-6 UCSB
UCLA

In [39]:
from ultimate import tournament

In [51]:
four_teams = [ucla, ucsb, ucsd, cal]
b = tournament.BracketFourTwoOne(teams_list=four_teams)
b.play_games()
b.determine_placement()

UCLA 15-11 Cal
UCSB 15-11 UCSD
UCLA 15-13 UCSB
Cal 15-10 UCSD
UCSB 15-12 Cal

[UCLA (Smaug), UCSB (Black Tide), Cal (UGMO), UCSD (Air Squids)]

In [54]:
five_teams = [ucla, ucsb, ucsd, cal, ore]
b = tournament.BracketFiveOne(teams_list=five_teams)
b.play_games()
b.determine_placement()

UCSB 13-15 UCSD
UCLA 15-13 UCSD
Cal 15-9 Oregon
UCSB 15-13 Cal

[UCLA (Smaug), UCSD (Air Squids), UCSB (Black Tide), Cal (UGMO), Oregon (Ego)]

In [66]:
b = tournament.BracketEightTwoOne(teams_list[:4], teams_list[4:])
b.play_games()
b.determine_placement()

UCLA 15-7 Oregon
UCSB 15-9 UW
UCLA 15-7 UCSB
UCSD 15-6 CalPolySLO
Cal 15-9 Whitman
Oregon 11-15 UCSD
Cal 15-11 UW
UCSD 12-15 Cal
UCSB 12-15 Cal
CalPolySLO 14-15 Whitman
Oregon 9-15 UW

[UCLA (Smaug),
 Cal (UGMO),
 UCSB (Black Tide),
 UCSD (Air Squids),
 UW (Sundodgers),
 Oregon (Ego),
 Whitman (Sweets),
 CalPolySLO (Slocore)]

In [63]:
teams_list[:3]

[UCLA (Smaug), UCSB (Black Tide), UCSD (Air Squids)]

In [21]:

womens_ranking_html = r"Rankings/USAU_team_rankings.women.2020-03-11.html"
mens_ranking_html = r"Rankings/USAU_team_rankings.men.2020-03-11.html"

# Use pandas html reader to extract dataframe
result = pd.read_html(womens_ranking_html)
df_women = result[0].rename(columns=lambda x: x.replace(' ', '_').lower()).iloc[0: -1]

result = pd.read_html(mens_ranking_html)
df_men = result[0].rename(columns=lambda x: x.replace(' ', '_').lower()).iloc[0: -1]

In [30]:
d1 = df_men[df_men.competition_division == 'Division I']
regions = d1.college_region.unique()
bids =

{'Atlantic Coast': 1,
 'Northwest': 1,
 'Southwest': 1,
 'South Central': 1,
 'Ohio Valley': 1,
 'New England': 1,
 'North Central': 1,
 'Great Lakes': 1,
 'Southeast': 1,
 'Metro East': 1}

In [85]:
def regional_tournament(region, n_teams=8, n_bids=1):
    teams = d1[d1.college_region == region].head(n_teams).apply(lambda r: Team(name=r.team, rating=int(r.power_rating), region=r.college_region), axis=1)
    pool_a = tournament.RoundRobinTournament(teams_list=teams.iloc[[0, 2, 4, 6]].tolist())
    pool_b = tournament.RoundRobinTournament(teams_list=teams.iloc[[1, 3, 5, 7]].tolist())
    print(pool_a.teams_list)
    pool_a.play_games()
    print(pool_b.teams_list)
    pool_b.play_games()
    bracket = tournament.BracketEightOne(pool_a.determine_placement(), pool_b.determine_placement())
    bracket.play_games()
    return bracket.determine_placement()

regional_tournament('Atlantic Coast')


#      def __init__(
#         self, name="", rating="", nickname="", games_list=None, section="", region=""
#     ):

[North Carolina (), North Carolina State (), Virginia Tech (), South Carolina ()]
North Carolina 15-8 North Carolina State
North Carolina 15-4 South Carolina
North Carolina 15-2 Virginia Tech
North Carolina State 7-15 North Carolina
North Carolina State 14-15 South Carolina
North Carolina State 15-8 Virginia Tech
South Carolina 9-15 North Carolina
South Carolina 15-13 North Carolina State
South Carolina 15-8 Virginia Tech
Virginia Tech 4-15 North Carolina
Virginia Tech 12-15 North Carolina State
Virginia Tech 6-15 South Carolina
[James Madison (), North Carolina-Wilmington (), William & Mary (), Virginia ()]
North Carolina-Wilmington 15-11 William & Mary
North Carolina-Wilmington 15-13 James Madison
North Carolina-Wilmington 15-12 Virginia
William & Mary 15-12 North Carolina-Wilmington
William & Mary 15-8 James Madison
William & Mary 15-10 Virginia
James Madison 12-15 North Carolina-Wilmington
James Madison 11-15 William & Mary
James Madison 15-8 Virginia
Virginia 8-15 North Carolina-Wilmington
Virginia 5-15 William & Mary
Virginia 11-15 James Madison
North Carolina 15-6 Virginia
William & Mary 13-15 North Carolina State
South Carolina 15-14 James Madison
North Carolina-Wilmington 15-9 Virginia Tech
North Carolina 15-6 North Carolina State
South Carolina 15-13 North Carolina-Wilmington
North Carolina 15-3 South Carolina
Virginia 8-15 William & Mary
James Madison 15-12 Virginia Tech
William & Mary 15-10 James Madison
North Carolina State 12-15 North Carolina-Wilmington
Virginia 15-14 Virginia Tech

[North Carolina (),
 South Carolina (),
 North Carolina-Wilmington (),
 North Carolina State (),
 William & Mary (),
 James Madison (),
 Virginia (),
 Virginia Tech ()]

In [54]:
# b.play_games()
region = 'Atlantic Coast'
n_teams=8
teams = d1[d1.college_region == region].head(n_teams).apply(lambda r: Team(name=r.team, rating=int(r.power_rating), region=r.college_region), axis=1).tolist()

ultimate.team.Team

{'Team A': North Carolina (),
 'Team B': North Carolina State (),
 'Team A Name': 'North Carolina',
 'Team B Name': 'North Carolina State',
 'Team A Score': 15,
 'Team B Score': 5,
 'Winner': North Carolina (),
 'Loser': North Carolina State (),
 'Winner Name': 'North Carolina',
 'Loser Name': 'North Carolina State'}