In [1]:
%load_ext autoreload
%autoreload 2
%load_ext nb_black
import pandas as pd

In [2]:
cd ..

ERROR:root:Cannot parse: 1:4: cd ..
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/lab_black.py", line 210, in format_cell
    formatted_code = _format_code(cell)
  File "/usr/local/lib/python3.7/site-packages/lab_black.py", line 29, in _format_code
    return format_str(src_contents=code, mode=FileMode())
  File "/usr/local/lib/python3.7/site-packages/black.py", line 725, in format_str
    src_node = lib2to3_parse(src_contents.lstrip(), mode.target_versions)
  File "/usr/local/lib/python3.7/site-packages/black.py", line 836, in lib2to3_parse
    raise exc from None
black.InvalidInput: Cannot parse: 1:4: cd ..

/Users/alextrahey/Code/college-nationals

In [3]:
import ultimate
from ultimate import Team, Game, Tournament, utils

In [4]:
#
# Tests for Team class
#
ucla = Team(name="UCLA", rating=2200, nickname="Smaug")
ucsb = Team(name="UCSB", rating=2100, nickname="Black Tide")
ucsd = Team(name="UCSD", rating=2000, nickname="Air Squids")
cal = Team(name="Cal", rating=1900, nickname="UGMO")
print(ucla.name, ucla.nickname, ucla.rating, ucla.games_list)
print(ucsb.name, ucsb.nickname, ucsb.rating, ucsb.games_list)
print(ucsd.name, ucsd.nickname, ucsd.rating, ucsd.games_list)
print(cal.name, cal.nickname, cal.rating, cal.games_list)

UCLA Smaug 2200 []
UCSB Black Tide 2100 []
UCSD Air Squids 2000 []
Cal UGMO 1900 []

In [5]:
# Game 0
print("\nGame 0 (method='random')")
ucla_vs_ucsb = Game(ucla, ucsb)
ucla_vs_ucsb.play_game(method="random")
print("Score *should* be only 15-13 or 13-15.")

(
    mens_p_a_offense,
    mens_k,
    mens_rating_diff_to_victory_margin,
    game_to,
) = utils.get_default_parameters("men")

# Game 1
print("\nGame 1")
ucla_vs_ucsb = Game(ucla, ucsb)
ucla_vs_ucsb.play_game(
    method="double negative binomial",
    rating_diff_to_victory_margin=mens_rating_diff_to_victory_margin,
    p_a_offense=mens_p_a_offense,
)

Game 0 (method='random')
UCLA 15-13 UCSB
Score *should* be only 15-13 or 13-15.

Game 1
UCLA 15-12 UCSB

In [7]:
# Tournament 0
print("\nTournament 0")
semi1 = Game(ucla, ucsb, level="semi")
semi2 = Game(cal, ucsd, level="semi")
finals = Game(None, None, semi1, semi2, level="final")

finals.play_game(
    method="double negative binomial",
    rating_diff_to_victory_margin=mens_rating_diff_to_victory_margin,
    p_a_offense=mens_p_a_offense,
)

Tournament 0
semi: UCLA 15-14 UCSB
semi: Cal 13-15 UCSD
final: UCLA 14-15 UCSD

In [8]:
finals.display_point_log()

UCLA 1-0 UCSD
UCLA 2-0 UCSD
UCLA 3-0 UCSD
UCLA 3-1 UCSD
UCLA 3-2 UCSD
UCLA 3-3 UCSD
UCLA 3-4 UCSD
UCLA 4-4 UCSD
UCLA 4-5 UCSD
UCLA 5-5 UCSD
UCLA 5-6 UCSD
UCLA 6-6 UCSD
UCLA 7-6 UCSD
UCLA 7-7 UCSD
UCLA 7-8 UCSD
UCLA 8-8 UCSD
UCLA 8-9 UCSD
UCLA 9-9 UCSD
UCLA 9-10 UCSD
UCLA 10-10 UCSD
UCLA 10-11 UCSD
UCLA 11-11 UCSD
UCLA 11-12 UCSD
UCLA 12-12 UCSD
UCLA 12-13 UCSD
UCLA 13-13 UCSD
UCLA 13-14 UCSD
UCLA 14-14 UCSD
UCLA 14-15 UCSD

In [9]:
# Tests for playing 8 team bracket
print("\nEight team bracket")
ucla = Team(name="UCLA", rating=2200, nickname="Smaug", games_list=[])
ucsb = Team(name="UCSB", rating=2100, nickname="Black Tide")
ucsd = Team(name="UCSD", rating=2000, nickname="Air Squids")
cal = Team(name="Cal", rating=1900, nickname="UGMO")
uw = Team(name="UW", rating=1800, nickname="Sundodgers")
ore = Team(name="Oregon", rating=1700, nickname="Ego")
whit = Team(name="Whitman", rating=1600, nickname="Sweets")
slo = Team(name="CalPolySLO", rating=1500, nickname="Slocore")

teams_list = [ucla, ucsb, ucsd, cal, uw, ore, whit, slo]

placement = ultimate.tournament.play_eight_team_single_elimination_bracket(
    teams_list,
    method="double negative binomial",
    rating_diff_to_victory_margin=mens_rating_diff_to_victory_margin,
    p_a_offense=mens_p_a_offense,
)

print(placement[0][1].name)

Eight team bracket

TypeError: Can't instantiate abstract class Tournament with abstract methods determine_placement

In [10]:
from ultimate import tournament

In [11]:
four_teams = [ucla, ucsb, ucsd, cal]
b = tournament.BracketFourTwoOne(teams_list=four_teams)
b.games_list[0]
# b.play_games()
# b.determine_placement()

    Game between UCLA and Cal has not yet been played.
    Expected Score is: 15 - 10.3

In [24]:
five_teams = [ucla, ucsb, ucsd, cal, ore]
b = tournament.BracketFiveOne(teams_list=five_teams, name="Southwest Regionals")
b.games_list
b.play_games()
#
b.show_results()

UCSB 14-15 UCSD (Expected 15 - 13.4)
UCLA 15-14 UCSD (Expected 15 - 11.8)
Cal 15-11 Oregon (Expected 15 - 11.8)
UCSB 15-9 Cal (Expected 15 - 11.8)
Southwest Regionals Tournament Results
1. UCLA
2. UCSD
3. UCSB
4. Cal
5. Oregon

In [26]:
b = tournament.BracketEightTwoOne(teams_list[:4], teams_list[4:])
b.play_games()
b.show_results()

UCLA 15-8 Oregon (Expected 15 - 7.7)
UCSB 15-8 UW (Expected 15 - 10.3)
UCLA 15-10 UCSB (Expected 15 - 13.4)
UCSD 15-12 CalPolySLO (Expected 15 - 7.7)
Cal 15-13 Whitman (Expected 15 - 10.3)
Oregon 4-15 UCSD (Expected 10.3 - 15)
Cal 15-7 UW (Expected 15 - 13.4)
UCSD 15-14 Cal (Expected 15 - 13.4)
UCSB 12-15 UCSD (Expected 15 - 13.4)
CalPolySLO 13-15 Whitman (Expected 13.4 - 15)
Oregon 13-15 UW (Expected 13.4 - 15)
BracketEightTwoOne - Final Results
1. UCLA
2. UCSD
3. UCSB
4. Cal
5. UW
6. Oregon
7. Whitman
8. CalPolySLO

In [86]:
b.

In [58]:
womens_ranking_html = r"Rankings/USAU_team_rankings.women.2020-03-11.html"
mens_ranking_html = r"Rankings/USAU_team_rankings.men.2020-03-11.html"

# Use pandas html reader to extract dataframe
result = pd.read_html(womens_ranking_html)
df_women = result[0].rename(columns=lambda x: x.replace(" ", "_").lower()).iloc[0:-1]

result = pd.read_html(mens_ranking_html)
df_men = result[0].rename(columns=lambda x: x.replace(" ", "_").lower()).iloc[0:-1]

custom_ranks_men = pd.read_excel(
    "./Rankings/USAU ratings and human tuning.xlsx", sheet_name="Men"
).dropna(subset=["USAU Rank"])
custom_ranks_women = pd.read_excel(
    "./Rankings/USAU ratings and human tuning.xlsx", sheet_name="Women"
).dropna(subset=["USAU Rank"])

In [61]:
d1 = (
    df_men[df_men.competition_division == "Division I"]
    .merge(
        custom_ranks[["Team", "Adjusted Rating"]],
        left_on="team",
        right_on="Team",
        how="inner",
    )
    .assign(custom_rating=lambda x: x["Adjusted Rating"].combine_first(x.power_rating))
)
regions = d1.college_region.unique()

In [29]:
def regional_tournament(region, n_teams=8, n_bids=1):
    teams = (
        d1[d1.college_region == region]
        .head(n_teams)
        .apply(
            lambda r: Team(
                name=r.team, rating=int(r.power_rating), region=r.college_region
            ),
            axis=1,
        )
    )
    pool_a = tournament.RoundRobinTournament(
        teams_list=teams.iloc[[0, 2, 4, 6]].tolist()
    )
    pool_b = tournament.RoundRobinTournament(
        teams_list=teams.iloc[[1, 3, 5, 7]].tolist()
    )
    print(pool_a.teams_list)
    pool_a.play_games()
    print(pool_b.teams_list)
    pool_b.play_games()
    bracket = tournament.BracketEightOne(
        pool_a.determine_placement(), pool_b.determine_placement()
    )
    bracket.play_games()
    return bracket.determine_placement()


regional_tournament("Atlantic Coast")


#      def __init__(
#         self, name="", rating="", nickname="", games_list=None, section="", region=""
#     ):

[South Carolina (), North Carolina State (), Virginia Tech (), North Carolina ()]
pool: North Carolina 15-6 North Carolina State
pool: North Carolina 15-7 South Carolina
pool: North Carolina 15-5 Virginia Tech
pool: North Carolina State 12-15 South Carolina
pool: North Carolina State 15-11 Virginia Tech
pool: South Carolina 14-15 Virginia Tech
[Virginia (), North Carolina-Wilmington (), James Madison (), William & Mary ()]
pool: North Carolina-Wilmington 11-15 William & Mary
pool: North Carolina-Wilmington 15-12 James Madison
pool: North Carolina-Wilmington 15-9 Virginia
pool: William & Mary 15-7 James Madison
pool: William & Mary 15-6 Virginia
pool: James Madison 15-11 Virginia
North Carolina 15-2 Virginia (Expected 15 - 4.0)
North Carolina-Wilmington 14-15 North Carolina State (Expected 15 - 14.9)
South Carolina 15-14 James Madison (Expected 15 - 13.6)
William & Mary 15-12 Virginia Tech (Expected 15 - 10.0)
North Carolina 15-4 North Carolina State (Expected 15 - 7.5)
South Carolina 15-11 William & Mary (Expected 14.3 - 15)
North Carolina 15-5 South Carolina (Expected 15 - 6.7)
Virginia 8-15 North Carolina-Wilmington (Expected 9.3 - 15)
James Madison 15-11 Virginia Tech (Expected 15 - 12.0)
North Carolina-Wilmington 15-11 James Madison (Expected 15 - 12.3)
North Carolina State 13-15 William & Mary (Expected 15 - 14.5)
Virginia 14-15 Virginia Tech (Expected 14.8 - 15)

[North Carolina (),
 South Carolina (),
 William & Mary (),
 North Carolina State (),
 North Carolina-Wilmington (),
 James Madison (),
 Virginia Tech (),
 Virginia ()]

In [110]:
# b.play_games()
region = 'Atlantic Coast'
teams = d1[d1.college_region == region].head(n_teams).apply(lambda r: Team(name=r.team, rating=int(r.power_rating), region=r.college_region), axis=1).tolist()

In [56]:
# bids

1              Washington ()
3           Brigham Young ()
5                  Oregon ()
11       British Columbia ()
18           Oregon State ()
27     Western Washington ()
41                   Utah ()
43             Utah State ()
57                Whitman ()
62               Victoria ()
71          Montana State ()
101               Gonzaga ()
dtype: object

In [62]:
four_pools_of_three_seeds = {
    "pool_a": [1, 8, 9],
    "pool_b": [2, 7, 10],
    "pool_c": [3, 6, 11],
    "pool_d": [4, 5, 12],
}

# Table 16.1.2
four_pools_of_four_seeds = {
    "pool_a": [1, 8, 12, 16],
    "pool_b": [2, 7, 11, 15],
    "pool_c": [3, 6, 10, 14],
    "pool_d": [4, 5, 9, 13],
}

pool_seeding = {12: four_pools_of_three_seeds, 16: four_pools_of_four_seeds}


def play_pools(teams, pool_seeds):
    results = {}
    for name, seeds in pool_seeds.items():
        pool = tournament.RoundRobinTournament(
            teams_list=teams.iloc[[i - 1 for i in seeds]].tolist()
        )
        pool.play_games()
        results[name] = pool.determine_placement()
    return results


def determine_regional_qualifiers(
    division_teams, region, n_teams, rankings_var="power_rating"
):
    return (
        division_teams[division_teams.college_region == region]
        .head(n_teams)
        .apply(
            lambda r: Team(
                name=r.team, rating=int(r[rankings_var]), region=r.college_region
            ),
            axis=1,
        )
    )


def play_bracket(n_bids, **pools):
    n_teams = teams.count()
    if n_teams == 12:
        if n_bids in [1, 2, 3]:
            t = tournament.BracketTwelveFourPools(**pools)
    elif n_teams == 16:
        if n_bids == 1:
            t = tournament.BracketSixteenOne(**pools)
        if n_bids == 2:
            t = tournament.BracketSixteenTwoTwo(**pools)
    else:
        return
    t.play_games()
    return t


# Men's Results
for region, (n_teams, n_bids) in region_details.iterrows():
    if n_teams == 11:
        n_teams = 12
    print(f"\n\nPLAYING Men's {region} - {n_teams} Teams with {n_bids} Bids")
    teams = determine_regional_qualifiers(
        d1, region, n_teams, rankings_var="custom_rating"
    )
    pool_results = play_pools(teams, pool_seeding[n_teams])
    bracket = play_bracket(n_bids, **pool_results)
    print("QUALIFIERS:", bracket.determine_placement()[:n_bids], "\n")

PLAYING Men's Atlantic Coast - 16 Teams with 1 Bids
pool: North Carolina 15-2 Virginia (Expected 15 - 4.0)
pool: North Carolina 15-5 Duke (Expected 15 - 2.8)
pool: North Carolina 15-1 Clemson (Expected 15 - 2.1)
pool: Virginia 15-14 Duke (Expected 15 - 12.0)
pool: Virginia 15-9 Clemson (Expected 15 - 9.9)
pool: Duke 15-12 Clemson (Expected 15 - 12.8)
pool: North Carolina-Wilmington 15-9 Virginia Tech (Expected 15 - 8.8)
pool: North Carolina-Wilmington 15-7 North Carolina-Charlotte (Expected 15 - 7.0)
pool: North Carolina-Wilmington 15-3 Virginia Commonwealth University (Expected 15 - 5.1)
pool: Virginia Tech 15-12 North Carolina-Charlotte (Expected 15 - 12.6)
pool: Virginia Tech 15-7 Virginia Commonwealth University (Expected 15 - 9.9)
pool: North Carolina-Charlotte 15-9 Virginia Commonwealth University (Expected 15 - 12.1)
pool: North Carolina State 15-6 James Madison (Expected 15 - 10.4)
pool: North Carolina State 15-5 Liberty (Expected 15 - 6.2)
pool: North Carolina State 15-1 Appalachian State (Expected 15 - 4.5)
pool: James Madison 15-7 Liberty (Expected 15 - 9.9)
pool: James Madison 15-8 Appalachian State (Expected 15 - 7.6)
pool: Liberty 12-15 Appalachian State (Expected 15 - 12.2)
pool: William & Mary 15-12 South Carolina (Expected 15 - 14.3)
pool: William & Mary 15-9 Georgetown (Expected 15 - 9.1)
pool: William & Mary 15-13 Maryland (Expected 15 - 6.3)
pool: South Carolina 15-9 Georgetown (Expected 15 - 9.7)
pool: South Carolina 15-3 Maryland (Expected 15 - 6.8)
pool: Georgetown 14-15 Maryland (Expected 15 - 11.4)
prequarters: Virginia Tech 15-11 Appalachian State (Expected 15 - 10.1)
prequarters: James Madison 15-8 North Carolina-Charlotte (Expected 15 - 9.8)
prequarters: Duke 11-15 South Carolina (Expected 7.9 - 15)
prequarters: Maryland 14-15 Virginia (Expected 10.6 - 15)
quarters: North Carolina 15-9 Virginia Tech (Expected 15 - 4.1)
quarters: William & Mary 15-9 James Madison (Expected 15 - 12.9)
quarters: North Carolina State 15-14 South Carolina (Expected 15 - 11.7)
quarters: North Carolina-Wilmington 15-9 Virginia (Expected 15 - 8.6)
semis: North Carolina 15-7 William & Mary (Expected 15 - 7.2)
semis: North Carolina State 15-12 North Carolina-Wilmington (Expected 15 - 13.8)
final: North Carolina 15-7 North Carolina State (Expected 15 - 9.3)
last 4: Clemson 15-13 Virginia Commonwealth University (Expected 14.8 - 15)
last 4: Liberty 15-11 Georgetown (Expected 13.8 - 15)
QUALIFIERS: [North Carolina ()]



PLAYING Men's Great Lakes - 12 Teams with 1 Bids
pool: Michigan 15-3 Chicago (Expected 15 - 5.2)
pool: Michigan 15-4 Ball State (Expected 15 - 4.0)
pool: Chicago 10-15 Ball State (Expected 15 - 12.7)
pool: Northwestern 15-11 Indiana (Expected 15 - 9.0)
pool: Northwestern 15-4 Michigan State (Expected 15 - 5.9)
pool: Indiana 15-8 Michigan State (Expected 15 - 10.9)
pool: Notre Dame 12-15 Kentucky (Expected 15 - 11.8)
pool: Notre Dame 15-1 Illinois State (Expected 15 - 6.4)
pool: Kentucky 15-7 Illinois State (Expected 15 - 8.8)
pool: Purdue 14-15 Illinois (Expected 15 - 14.3)
pool: Purdue 15-0 Kentucky B (Expected 15 - 1.2)
pool: Illinois 15-0 Kentucky B (Expected 15 - 1.3)
Indiana 15-10 Illinois State (Expected 15 - 10.2)
Notre Dame 15-10 Michigan State (Expected 15 - 6.9)
Purdue 15-8 Chicago (Expected 15 - 10.2)
Kentucky B 7-15 Ball State (Expected 3.0 - 15)
quarter: Michigan 15-5 Indiana (Expected 15 - 6.0)
quarter: Illinois 13-15 Notre Dame (Expected 13.1 - 15)
quarter: Kentucky 8-15 Purdue (Expected 13.0 - 15)
quarter: Northwestern 15-8 Ball State (Expected 15 - 6.3)
semi: Michigan 15-10 Notre Dame (Expected 15 - 9.7)
semi: Purdue 13-15 Northwestern (Expected 12.3 - 15)
final: Michigan 15-8 Northwestern (Expected 15 - 11.1)
3rd place: Notre Dame 15-13 Purdue (Expected 15 - 13.8)
5th place semis: Indiana 15-12 Kentucky (Expected 13.4 - 15)
5th place semis: Illinois 15-7 Ball State (Expected 15 - 8.8)
5th place: Indiana 14-15 Illinois (Expected 12.1 - 15)
Kentucky 15-8 Ball State (Expected 15 - 10.0)
9th place semis: Illinois State 12-15 Michigan State (Expected 14.2 - 15)
9th place semis: Chicago 15-0 Kentucky B (Expected 15 - 2.3)
9th place: Michigan State 9-15 Chicago (Expected 12.2 - 15)
11th place: Illinois State 15-3 Kentucky B (Expected 15 - 3.5)
QUALIFIERS: [Michigan ()]



PLAYING Men's Metro East - 12 Teams with 1 Bids
pool: Cornell 15-12 Yale (Expected 15 - 9.0)
pool: Cornell 15-6 SUNY-Stony Brook (Expected 15 - 8.4)
pool: Yale 14-15 SUNY-Stony Brook (Expected 15 - 14.2)
pool: Connecticut 14-15 SUNY-Albany (Expected 15 - 10.0)
pool: Connecticut 15-2 RIT (Expected 15 - 7.5)
pool: SUNY-Albany 15-8 RIT (Expected 15 - 12.0)
pool: Princeton 15-10 Syracuse (Expected 15 - 11.2)
pool: Princeton 15-3 NYU (Expected 15 - 6.0)
pool: Syracuse 15-3 NYU (Expected 15 - 8.9)
pool: SUNY-Binghamton 11-15 SUNY-Buffalo (Expected 15 - 12.7)
pool: SUNY-Binghamton 14-15 Rowan (Expected 15 - 6.8)
pool: SUNY-Buffalo 15-7 Rowan (Expected 15 - 8.5)
Connecticut 15-11 NYU (Expected 15 - 5.5)
Syracuse 15-11 RIT (Expected 15 - 11.5)
Rowan 8-15 Yale (Expected 9.3 - 15)
SUNY-Binghamton 15-6 SUNY-Stony Brook (Expected 15 - 11.0)
quarter: Cornell 15-11 Connecticut (Expected 15 - 14.0)
quarter: SUNY-Buffalo 15-14 Syracuse (Expected 15 - 14.7)
quarter: Princeton 15-7 Yale (Expected 15 - 10.6)
quarter: SUNY-Albany 10-15 SUNY-Binghamton (Expected 11.9 - 15)
semi: Cornell 15-12 SUNY-Buffalo (Expected 15 - 9.9)
semi: Princeton 13-15 SUNY-Binghamton (Expected 15 - 13.7)
final: Cornell 15-11 SUNY-Binghamton (Expected 15 - 12.0)
3rd place: SUNY-Buffalo 12-15 Princeton (Expected 11.4 - 15)
5th place semis: Connecticut 15-11 Yale (Expected 15 - 9.9)
5th place semis: Syracuse 12-15 SUNY-Albany (Expected 15 - 14.5)
5th place: Connecticut 15-8 SUNY-Albany (Expected 15 - 10.0)
Yale 14-15 Syracuse (Expected 14.3 - 15)
9th place semis: NYU 12-15 RIT (Expected 12.1 - 15)
9th place semis: Rowan 7-15 SUNY-Stony Brook (Expected 10.0 - 15)
9th place: RIT 15-13 SUNY-Stony Brook (Expected 12.9 - 15)
11th place: NYU 15-14 Rowan (Expected 15 - 14.9)
QUALIFIERS: [Cornell ()]



PLAYING Men's New England - 12 Teams with 3 Bids
pool: Massachusetts 15-4 Boston College (Expected 15 - 4.7)
pool: Massachusetts 15-0 Harvard (Expected 15 - 2.8)
pool: Boston College 15-7 Harvard (Expected 15 - 10.6)
pool: Brown 15-7 Boston University (Expected 15 - 4.6)
pool: Brown 15-1 Maine (Expected 15 - 1.4)
pool: Boston University 15-4 Maine (Expected 15 - 6.4)
pool: Tufts 15-9 Northeastern (Expected 15 - 13.2)
pool: Tufts 15-4 Rhode Island (Expected 15 - 2.3)
pool: Northeastern 15-1 Rhode Island (Expected 15 - 2.9)
pool: Vermont 15-12 Dartmouth (Expected 15 - 13.4)
pool: Vermont 15-1 New Hampshire (Expected 15 - 2.4)
pool: Dartmouth 15-1 New Hampshire (Expected 15 - 3.0)
Boston University 15-6 Rhode Island (Expected 15 - 6.1)
Northeastern 15-5 Maine (Expected 15 - 3.1)
Dartmouth 15-7 Harvard (Expected 15 - 6.0)
New Hampshire 4-15 Boston College (Expected 5.8 - 15)
quarter: Massachusetts 15-2 Boston University (Expected 15 - 4.8)
quarter: Vermont 14-15 Northeastern (Expected 15 - 14.2)
quarter: Tufts 15-12 Dartmouth (Expected 15 - 12.5)
quarter: Brown 15-4 Boston College (Expected 15 - 4.5)
semi: Massachusetts 15-10 Northeastern (Expected 15 - 9.4)
semi: Tufts 10-15 Brown (Expected 10.6 - 15)
final: Massachusetts 15-14 Brown (Expected 14.6 - 15)
3rd place: Northeastern 11-15 Tufts (Expected 13.2 - 15)
5th place semis: Boston University 15-14 Dartmouth (Expected 9.5 - 15)
5th place semis: Vermont 15-4 Boston College (Expected 15 - 8.1)
5th place: Boston University 3-15 Vermont (Expected 8.2 - 15)
Dartmouth 15-5 Boston College (Expected 15 - 9.4)
9th place semis: Rhode Island 15-12 Maine (Expected 14.5 - 15)
9th place semis: Harvard 15-7 New Hampshire (Expected 15 - 9.1)
9th place: Rhode Island 6-15 Harvard (Expected 9.7 - 15)
11th place: Maine 15-12 New Hampshire (Expected 15 - 13.9)
QUALIFIERS: [Massachusetts (), Brown (), Tufts ()]



PLAYING Men's North Central - 12 Teams with 2 Bids
pool: Carleton College-CUT 15-0 Nebraska (Expected 15 - 2.8)
pool: Carleton College-CUT 15-3 Iowa (Expected 15 - 2.6)
pool: Nebraska 15-12 Iowa (Expected 15 - 14.6)
pool: Minnesota 15-3 Wisconsin-Whitewater (Expected 15 - 3.8)
pool: Minnesota 15-1 Wisconsin-Eau Claire (Expected 15 - 2.5)
pool: Wisconsin-Whitewater 15-12 Wisconsin-Eau Claire (Expected 15 - 11.4)
pool: Wisconsin 15-6 Minnesota-Duluth (Expected 15 - 7.3)
pool: Wisconsin 15-2 Creighton (Expected 15 - 2.3)
pool: Minnesota-Duluth 15-8 Creighton (Expected 15 - 6.2)
pool: Wisconsin-Milwaukee 15-12 Iowa State (Expected 15 - 14.0)
pool: Wisconsin-Milwaukee 15-7 Northern Iowa (Expected 15 - 4.1)
pool: Iowa State 15-11 Northern Iowa (Expected 15 - 4.5)
Wisconsin-Whitewater 15-9 Creighton (Expected 15 - 7.1)
Minnesota-Duluth 15-10 Wisconsin-Eau Claire (Expected 15 - 10.2)
Iowa State 15-10 Iowa (Expected 15 - 9.7)
Northern Iowa 9-15 Nebraska (Expected 7.8 - 15)
quarter: Carleton College-CUT 15-2 Wisconsin-Whitewater (Expected 15 - 3.2)
quarter: Wisconsin-Milwaukee 15-9 Minnesota-Duluth (Expected 15 - 11.5)
quarter: Wisconsin 14-15 Iowa State (Expected 15 - 9.3)
quarter: Minnesota 15-4 Nebraska (Expected 15 - 3.3)
semi: Carleton College-CUT 15-8 Wisconsin-Milwaukee (Expected 15 - 5.6)
semi: Iowa State 8-15 Minnesota (Expected 5.8 - 15)
final: Carleton College-CUT 12-15 Minnesota (Expected 15 - 13.6)
3rd place: Wisconsin-Milwaukee 15-13 Iowa State (Expected 15 - 14.0)
5th place semis: Wisconsin-Whitewater 8-15 Wisconsin (Expected 6.4 - 15)
5th place semis: Minnesota-Duluth 15-12 Nebraska (Expected 15 - 12.5)
5th place: Wisconsin 15-9 Minnesota-Duluth (Expected 15 - 7.3)
Wisconsin-Whitewater 15-12 Nebraska (Expected 15 - 13.7)
9th place semis: Creighton 9-15 Wisconsin-Eau Claire (Expected 10.1 - 15)
9th place semis: Iowa 15-9 Northern Iowa (Expected 15 - 8.1)
9th place: Wisconsin-Eau Claire 11-15 Iowa (Expected 13.0 - 15)
11th place: Creighton 15-12 Northern Iowa (Expected 15 - 14.7)
QUALIFIERS: [Minnesota (), Carleton College-CUT ()]



PLAYING Men's Northwest - 12 Teams with 4 Bids
pool: Washington 15-3 Utah State (Expected 15 - 5.7)
pool: Washington 15-6 Whitman (Expected 15 - 4.4)
pool: Utah State 15-10 Whitman (Expected 15 - 12.6)
pool: Brigham Young 15-4 Utah (Expected 15 - 5.8)
pool: Brigham Young 15-6 Victoria (Expected 15 - 4.7)
pool: Utah 15-11 Victoria (Expected 15 - 13.2)

pool: Oregon 15-2 Western Washington (Expected 15 - 8.1)
pool: Oregon 15-7 Montana State (Expected 15 - 4.4)
pool: Western Washington 14-15 Montana State (Expected 15 - 9.6)
pool: British Columbia 15-14 Oregon State (Expected 15 - 13.2)
pool: British Columbia 15-3 Gonzaga (Expected 15 - 5.2)
pool: Oregon State 15-8 Gonzaga (Expected 15 - 6.3)

UnboundLocalError: local variable 't' referenced before assignment

,rank,team,power_rating,competition_level,gender_division,competition_division,college_region,college_conference,wins,losses
56,57,Virginia,1462,College,Men,Division I,Atlantic Coast,Virginia DI,6,5

In [47]:
def calculate_size_and_bids(tables, rankings):
    total_bids = 20
    # store boolean for whether autobid has been reached while iterating through rankings
    _bids = {region: [1, False] for region in d1.college_region.unique()}
    for i, team in d1.iterrows():
        if sum(v[0] for k, v in _bids.items()) < total_bids:
            if _bids[team.college_region][1]:
                _bids[team.college_region][0] += 1
            else:
                _bids[team.college_region][1] = True

    # now just a dict of region name: number of bids
    bids = {k: v[0] for k, v in _bids.items()}

    conference_lookup = (
        rankings.drop_duplicates(subset=["college_conference", "college_region"])
        .set_index("college_conference")
        .college_region.to_dict()
    )

    combined = (
        pd.concat(
            [
                table
                for table in tables
                if table.columns.isin(
                    ["Conference", "Division", "Auto bids", "Strength bids", "Total"]
                ).min()
                and (table.Division == "D-I").max()
            ]
        )
        .reset_index(drop=True)
        .assign(region=lambda x: x["Conference"].map(conference_lookup))
    )
    region_details = (
        combined.groupby("region")
        .Total.sum()
        .rename("size")
        .to_frame()
        .assign(bids=lambda x: x.index.map(bids))
    )
    return region_details


mens_region_details = calculate_size_and_bids(
    pd.read_html("./Rankings/2019CollegeMensDivisionBidAllocation.htm", header=0),
    df_men,
)
mens_region_details.loc["North Central", "size"] = 12
mens_region_details.loc["Northwest", "size"] = 12
mens_region_details

                size  bids
region
Atlantic Coast    16     1
Great Lakes       12     1
Metro East        12     1
New England       12     3
North Central     12     2
Northwest         12     4
Ohio Valley       16     2
South Central     16     2
Southeast         16     1
Southwest         16     3

In [48]:
womens_region_details = calculate_size_and_bids(
    pd.read_html("./Rankings/2019CollegeMensDivisionBidAllocation.htm", header=0),
    df_women,
)
womens_region_details

                size  bids
region
Atlantic Coast    15     1
Great Lakes        5     1
Metro East         5     1
New England       10     3
North Central      4     2
Northwest         10     4
Ohio Valley        6     2
South Central     10     2
Southeast         16     1
Southwest         16     3

USAU Rank            368
Team                 374
USAU Power Rating    374
Wins                 374
Losses               374
Adjusted Rating       22
Notes                  8
dtype: int64

,USAU Rank,Team,USAU Power Rating,Wins,Losses,Adjusted Rating,Notes
0,1.0,North Carolina,2340.0,18.0,0.0,NaN,NaN
1,2.0,Washington,2291.0,20.0,2.0,2278,NaN
2,3.0,Cal Poly-SLO,2194.0,18.0,5.0,2270,NaN
3,4.0,Brigham Young,2190.0,13.0,1.0,2286,15-13 vs. UNC
4,5.0,Colorado,2169.0,12.0,3.0,2230,NaN
...,...,...,...,...,...,...,...
371,377.0,MIT B,-736.0,0.0,6.0,NaN,NaN
372,379.0,Virginia Commonwealth University B,-743.0,1.0,6.0,NaN,NaN
373,381.0,Oberlin B,-770.0,0.0,5.0,NaN,NaN
374,382.0,St Mary's (Maryland),-844.0,1.0,10.0,NaN,NaN
375,383.0,NaN,NaN,NaN,NaN,NaN,NaN